file_structure.txt
kube basic commands.md
sample_local_pod.yaml
pod.yaml

# Environments
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class


sample_payload_crash.json
sample_payload_crash.json
run_agent.py